//:host {
//  background-color: #FF69B4;
//  position: relative;
//  overflow: hidden;
//  margin: 0 0 6px;
//  padding: 10px 10px 10px 10px;
//  width: 300px;
//  border-radius: 3px 3px 3px 3px;
//  color: #FFFFFF;
//  pointer-events: all;
//  cursor: pointer;
//}
//.btn-pink{color:#fff;background-color:#e83e8c;background:#e83e8c linear-gradient(180deg,#e83e8c,#d91a72) repeat-x;border-color:#e83e8c}
//.btn-pink:hover{background-color:#d91a72;background:#d91a72 linear-gradient(180deg,#e5277e,#c21766) repeat-x;border-color:#d91a72}

